.hero-four {
    background-color: white;
    height: 75vh;
    text-align: center;
    color: var(--primary-color);
}
.hero-four h1 {
    font-weight: 700;
    font-size: 67px;
}
.hero-four p {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    
}