.hero-six h3 {
    text-align: center;
    color: #594780;
    text-transform: uppercase;
    padding: 40px; 
}
.hero-six .card-image {
    display: block;
    width: 100%;
    height: 463px;
}
.hero-six .card-image img{
    max-width: 800px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
}
.hero-six  .react-multiple-carousel__arrow,
.hero-three  .react-multiple-carousel__arrow{
    background-color: transparent;
}
.hero-six  .react-multiple-carousel__arrow::before,
.hero-three  .react-multiple-carousel__arrow::before{
    color: #594780;
    font-weight: bold;
    font-size: 32px;
}