@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
font-family: 'Montserrat', sans-serif; - Title
font-family: 'Roboto', sans-serif; - Text
*/

:root {
    /* DEFAULT COLOR */
    --primary-color: #6D5B97;
    --secondary-color: #FCB239;
    --tertiary-color: #D74061;

    /* TECH COLOR */
    --tech-primary: #BED441;
    --tech-secondary: #1180AE;
    --tech-tertiary: #F37A29;

    /* INFRA COLOR */
    --infra-primary: #B4B4B4;
    --infra-secondary: #6D5B97;
    --infra-tertiary: #F37A29;

    /* HELP! COLOR */
    --help-primary: #F37A29;
    --help-secondary: #BED441;
    --help-tertiary: #6D5B97;

    /* DIGI COLOR */
    --digi-primary: #6D5B97;
    --digi-secondary: #D74061;
    --digi-tertiary: #FCB239;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p, small {
  font-family: 'Roboto', sans-serif;
}

h1 {font-size: 67px;}
h2 {font-size: 50px;}
h3 {font-size: 38px;}
h4 {font-size: 28px;}
h5 {font-size: 21px;}

p {font-size: 21px;}

.wd-cont {
  max-width: 1028px;
  margin: 0 auto;
  height: 100%;
}

.big-square {
  background-image: url("../images/bg-yellow.png");
  width: 100%;
  height: 715px;
  position: absolute;
  left: 0;
  z-index: 0;
  background-size: cover;
  top: 0;
}

/* Buttons */

.btn-yellow {
  background-color: var(--secondary-color);
  color: white;
  border: var(--secondary-color);
}
.btn-yellow:hover{
  background-color: var(--secondary-color);
  color: white;
  border: var(--secondary-color);
}