@media all and (max-width: 600px) {


    /* GLOBAL */

    h1 {font-size: 28px; font-weight: 700;}
    h2 {font-size: 24px; font-weight: 700;}
    h3 {font-size: 21px; font-weight: 700;}
    h4 {font-size: 24px; font-weight: 500;}
    h5 {font-size: 21px; font-weight: 700;}
    h6 {font-size: 21px; font-weight: 400;}

    p {font-size: 16px;}

    small {font-size: 10px;}
    
    .wd-cont {
        width: 100%;
        max-width: 100%;
    }

    /* NAVBAR */
    .nav-bar {
        height: auto !important;
    }
    
    .nav-bar .desktop {
        display: none;
    }

    .nav-bar .mobile {
        display: block !important;
        height: 100%;
        padding: 8.5px 0;
        transition: all ease-out 0.45s;
    }

    .nav-bar .mobile .line {
        background-color: var(--secondary-color);
        height: 32px;
        width: 1px;
        margin: 8.5px;
    }
    .nav-bar .mobile svg {
        max-width: 73px;
        margin-left: 13px;
    }

    .nav-bar .mobile h1 {
        font-size: 16px;
        margin: 0;
    }
    .nav-bar .mobile button {
        background-color: transparent;
        color: white;
        border: none;
        margin-left: auto;
        margin-right: 30px;
    }
    .nav-bar .mobile button svg{
        margin: 0;
        height: 28px;
        width: 28px;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
        height: 144px !important;
    }

    footer .logo {
        margin-top: 10px;        
    }

    footer .logo{
        width: 148px !important;
        height: 36px !important;
    }

    footer p {
        margin: 12px 0;
        font-size: 12px;
    }

    footer a svg{
        width: 32px !important;
        height: 32px !important;
    }

    /* HOME */

    .hero-one {
        background-image: url('../../assets/images/bg-hero1-m.png') !important;
        background-size: cover !important;
        height: calc(100vh - 66px) !important;
        background-position: center;
    }

    .hero-one h3 {
        max-width: 268px;
        margin-top: 40px;
    }

    .hero-one .info p{
        max-width:  157px;
        margin-top: 20px !important;
    }

    .hero-one .info button {
        padding: 8px 16px;
        font-size: 12px !important;
    }

    .hero-two {
        height: auto!important;
        padding: 70px 40px;
    }

    .hero-two h1 {
        font-size: 24px !important;
    }

    .hero-two p {
        font-size: 14px !important;
        margin-top: 25px !important;
    }

    .hero-two .icon {
        position: absolute;
        z-index: 2;
    }

    .hero-two .icon.logo {
        top: -42px !important;
        left: 6px !important;
        width: 20%;    
    }
    
    .hero-two .icon.foguete {
        right: -20px !important;
        width: 14%;
    }

    .hero-two .icon.ideia {
        bottom: -9px !important;
        left: 70px !important;
        width: 10%;
    }

    .hero-two .icon.globe {
        bottom: -30px !important;
        right: -23px !important;
        width: 17%;
    }

    .hero-three {
        background-color: white;
        height: auto !important;
        text-align: center;
        z-index: 1;
    }

    .hero-three h3 {
        padding-top: 30px;
    }
    
    .hero-three p {
        max-width: 280px;
        margin: auto
    }


    .hero-four {
        height: 500px !important;
        color: var(--primary-color) !important;
    }
    .hero-four p{
        width: 300px !important;
        margin: 14px !important;
    }

    .hero-four strong {
        font-size: 12px !important;
        margin-bottom: 4px !important;
    }

    .hero-four a {
        color: var(--primary-color) !important;
    }


    .hero-five {
        padding-top: 10px !important;
    }

    .hero-five h3 {
        text-transform: uppercase;
    }

    .hero-five h1 {
        font-weight: 500;
        font-size: 24px !important;
        line-height: 28px;
        text-transform: uppercase;
    }

    .hero-five p {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    /* .hero-five img {
        width: 144px;
        height: 144px;
    } */
    
    .hero-five .grid-cards {
        grid-template-columns: repeat(1, 255px) !important;
        grid-template-rows: repeat(4, auto) !important;
        row-gap: 32px !important;
        row-gap: 0;
    }


    .hero-six h1{
        font-size: 24px !important;
        font-weight: 700;
    }

    .hero-six img {
        width: 227px;
    }

    .hero-six .card-image {
        display: block;
        width: 100%;
        height: 162px !important;
    }

    .hero-six  .react-multiple-carousel__arrow::before,
    .hero-three  .react-multiple-carousel__arrow::before {
        font-size: 21px !important;
    }

    .hero-seven h1 {
        font-size: 24px !important;
    }

    .hero-seven input[type="text"]  {
        height: 25px!important;
        margin: 12px 0 !important;
    }

    .hero-seven button {
        width: 157px !important;
        font-size: 12px;
        padding: 10px;
        margin-top: 9px !important;
    }

    .hero-eight {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .hero-eight h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .hero-eight img {
        height: auto;
        margin: 0 5px;
    }

    /* QUEM SOMOS */

    .hero-two.quem-somos {
        height: 100% !important;
        padding: 0 !important;
    }

    .hero-two.quem-somos h2, .hero-two.quem-somos p {
        padding: 0 20px !important;
    }
    

    .hero-two.quem-somos h2 {
        padding-top: 30px !important;
        text-align: start;
    }

    .hero-two.quem-somos .in-text {
        margin: 0 !important;
        font-size: 14px;
        font-weight: 900;
        text-transform: none !important;
        padding: 10px 20px 30px !important;
    }

    .hero-two.quem-somos p {
        margin: 10px 0 !important;
    }

    .hero-five.quem-somos h3, .hero-five.quem-somos h1 {
        margin: 20px 0 !important;
    }

    .hero-five.quem-somos p {
        margin: 10px !important;
    }

    .hero-five.quem-somos .info-text {
        margin: 20px 0 !important;
        font-weight: 400;
        font-size: 14px;
        text-transform: none !important;
        color: #0F4C81;
    }

    .hero-five.quem-somos .steps img {
        height: 100% !important;
        width: 360px !important;
    }

    .hero-five.quem-somos .grid-cards {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-areas:  
            "a"
            "b"
            "c"
        !important;
        column-gap: 200px;
        row-gap: 84px;
    }

    /* TECH */

    .hero-one.tech {
        background-image: url('../images/bg-tech.jpg') !important;
    }

    /* INFRA */

    .hero-one.infra {
        background-image: url('../images/bg-infra-m.jpg') !important;
    }

}