.hero-two {
    background-color: var(--tertiary-color);
    height: 80vh;
    text-align: center;
    color: white;
}
.hero-two h1 {
    font-weight: 700;
    font-size: 67px;
}
.hero-two p {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    
}