.hero-three {
    background-color: white;
    height: calc(88vh - 88px);
    text-align: center;
    z-index: 1;
}
.hero-three h3 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #F37A29;
}
.hero-three p {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    
}
.carousel svg {
    width: 273px;
    height: 356px;
}