.hero-seven {
    background-image: url('../../../../assets/images/bg-contato.png');
    background-size: cover;
}

.hero-seven h1 {
    color: white;
    font-weight: bold;
    content: white;
}

.hero-seven input[type="text"] {
    background: #E0E0E0;
    border: none;
    width: 100%;
    border-radius: 50px;
    padding: 16px;
    margin: 20px 0;
}

.hero-seven button {
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
}