.hero-four {
    background-color: white;
    position: relative;
    left: -25px;
    height: 1000px;
    text-align: center;
    color: var(--primary-color);
    z-index: 10;
    background-image: url("../../../assets/images/bg-yellow.png");
    background-size: cover;
    width: calc(100% + 25px);
}
.hero-four h1 {
    font-weight: 700;
    font-size: 67px;
    z-index: 10;
}
.hero-four p {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    z-index: 10;
}