.hero-five {
    background-color: white;
    height: 100vh;
    text-align: center;
    color: #1180AE;
    padding-top: 100px;
}
.hero-five h1 {
    font-weight: 700;
    font-size: 38px;
}
.hero-five p {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.hero-five .grid-cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 394px));
    grid-template-rows: repeat(2, minmax(320px, 394px));
    justify-content: center;
    column-gap: 200px;
    row-gap: 84px;
}
