.hero-five.quem-somos p {
    margin: 20px 0;
}

.hero-five.quem-somos h1 {
    color: #0F4C81;
    font-weight: 700;
    margin: 50px 0 90px;
    text-transform: uppercase;
}

.hero-five.quem-somos .grid-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-areas:  
        "a a"
        "b c"
    ;
    column-gap: 200px;
    row-gap: 84px;
}

.hero-five.quem-somos .grid-cards div {
    max-width: 360px;
    margin: 0 auto;
} 

